@keyframes blink{
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

::selection{
    background-color: #00ADB5;
    color: #393E46;
}

::-moz-selection{
    background-color: #00ADB5;
    color: #393E46;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 96vw;
    height: 96vh;


    font-family: 'Courier New', Courier, monospace;
    color: #00ADB5;
    background-color: #222831;
}

main{
    max-width: 500px;
    min-width: 250px;
    text-align: left;
}
section{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}


button{
    border-style: none;
    background-color: transparent;

    font-family: 'Courier New', Courier, monospace;
    color: #00ADB5;

    cursor: pointer;
}
button:hover::before{
    content: '[';
    margin-right: 4px;

    animation: blink 0.5s linear 1s infinite forwards normal;
}
button:hover::after{
    content: ']';
    margin-left: 4px;
    animation: blink 0.5s linear 1s infinite forwards normal;

}
button:active::before{
    margin: 0px;
}
button:active::after{
    margin: 0px;
}

.has-transition{
    transition-property: all;
    transition-duration: 0.3s;
}

.enter-animation{
    animation: blink 0.3s linear 0s 1 backwards forwards;
}